* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.contenedor {
    background-color: #0b0d22;
    color: #ffffff;
}


/* ---------------------------- LOGO Y LOGIN ---------------------------- */

.contenedor .logo-login {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px 50px;
    background-color: #fcb315;
    color: #000000;
}

.contenedor .logo-login .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contenedor .logo-login .logo img {
    height: 40px;
    margin-right: 15px;
}

.contenedor .logo-login .logo p {
    margin-top: 16px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}

.contenedor .logo-login .login {
    height: 50px;
    display: flex;
    align-items: center;
}

.contenedor .logo-login .login .redes a {
    font-size: 30px;
    margin-left: 10px;
    text-decoration: none;
    color: #312b2b;
}

.contenedor .logo-login .login .redes a:hover {
    color: #636363;
    transition: all 0.5s;
}

.contenedor .logo-login .login .btn {
    margin-left: 30px;
    background-color: #312b2b;
    border: none;
}

.contenedor .logo-login .login .btn:hover {
    background-color: #1b7e12;
    transition: all 0.5s;
}

/* ---------------------------- BANNER ---------------------------- */

.contenedor .banner {
    height: 450px;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/bg-header.jpg);
    background-size: cover;
}

/* ---------------------------- ACERCA DE ---------------------------- */

.contenedor .acerca {
    display: flex;
    justify-content: space-between;
}

.contenedor .acerca .perfil {
    height: 150px;
    width: 300px;
    text-align: center;
}

.contenedor .acerca .perfil img {
    height: 150px;
    width: 150px;
    margin-top: -75px;
    margin-left: -20px;
    border: 10px solid #535353;
    border-radius: 100%;
}

.contenedor .acerca .perfil .nombre-titulo {
    font-size: 15px;
    margin-left: -25px;
    margin-top: 30px;
}


.contenedor .acerca .sobre-mi {
    height: 133px;
    width: 800px;
    margin-right: 50px;
    margin-top: 17px;
    text-align: center;
}

.contenedor .acerca .sobre-mi h3 {
    font-size: 17px;
    width: 90px;
    margin: auto;
    padding-bottom: 5px;
    border-bottom: 5px solid #414eda;
}

.contenedor .acerca .sobre-mi p {
    text-align: center;
    font-size: 13px;
    margin-top: 18px;
}

.contenedor .separador {
    border: 5px solid #414eda;
}

/* ---------------------------- INFO ---------------------------- */

.contenedor .info {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.contenedor .info .tarjeta-info {
    margin: 0px 50px;
    width: 500px;
}

.contenedor .info .tarjeta-info .text1 {
    margin: 50px 0px 30px 70px;
    text-align: center;
    width: 350px;
    border-bottom: 5px solid #414eda;
}

.contenedor .info .tarjeta-info .text2 {
    margin: 50px 0px 30px 150px;
    text-align: center;
    width: 200px;
    border-bottom: 5px solid #414eda;
}

.contenedor .info .tarjeta-info .card-title {
    font-size: 25px;
}

.contenedor .info .tarjeta-info .card-text {
    font-size: 13px;
}